body
{
  font-family: 'Lustria' , sans-serif;
  margin:70px 0px;
  background: url('../images/bks2.jpg');
  background-size: 100%
}

.heading
{
  text-align: center;
}

.heading h2
{

  color: white;
  text-shadow: 2px 2px #181717;
  margin-bottom: 20px;
  font-family: 'Special Elite',sans-serif;
  font-size: 50px;
}
@media (min-width: 662px)
  {
    .heading h2
    {
      font-size: 100px;
    }
  }
#contact-form
{
  font-size: 20px;
  background: #EEEEEE;
  padding: 50px;
  border-radius: 30px;
}

.blue
{
  color: #0069d6;
}

.form-control
{
  height:50px ;
  font-size: 18px;
}

.comments
{
  font-style: italic;
  font-size: 18px;
  color: #d82c2e;
  height: 25px;
}

#contact-form input[type=submit]
{
  display: block;
}
.iniziali
{
  font-size: 60px;
  color: #191818;
  text-shadow: 2px 2px white;
}
@media (min-width: 662px)
  {
    .iniziali
    {
      font-size: 120px;
    }
  }
.button1 , .button2
{

  background: #313131;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  padding: 18px;
  border-radius: 5px;
  transition: all 0.3s ease-in 0s;
  text-align: center;
}
.button2
{
    display: block;
}

.button1:hover , .button2:hover
{
  background: #C7C7C7;
}
.button2:hover
{
  text-decoration: none;
  color: #FFF;
}
